<div class="container">
   
  <form name="loginForm" ng-submit="vm.changePwd()">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="userId" ng-model="vm.login.userId" required>
    </div>
    
    <div class="form-group">
      <label for="Password">Old Password</label>
      <input type="password" class="form-control" id="Password" ng-model="vm.login.oldPassword" required>
    </div>

     <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" id="Password" ng-model="vm.login.password" required>
    </div>


     <button class="btn btn-primary" type="button"  ng-disabled="!loginForm.$valid">Change Password</button>
  </form>
</div>