<div -ng-controller="addModalCtr as vm">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Add Supplier </h3>
        </div>
        <div class="modal-body" id="modal-body">
            
           <form name="Order">
              <div class="form-group">
                <label for="SupplierName">Supplier Name</label>
                <input type="text" class="form-control" id="orderName" ng-model="vm.order.supplierName" required>
              </div>
              <div class="form-group">
                <label for="contactNo">Contact No</label>
                <input type="number" class="form-control" id="contactNo" ng-pattern="/^[0-9]{10,10}$/" ng-model="vm.order.contactNo">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" ng-model="vm.order.address">
              </div>
              <!-- <div class="form-group">
                <label for="amountDue">Amount Due</label>
                <input type="number" class="form-control" id="amountDue" ng-model="vm.order.amountDue">
              </div>
              <div class="form-group">
                <label for="amountpaid">Amount Paid</label>
                <input type="number" class="form-control" id="amountPaid" ng-model="vm.order.amountpaid">
              </div> -->
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.saveSupplier()" ng-disabled="!Order.$valid">Save</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
</div>
