/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url('../fonts/Lato-Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url('../fonts/Lato-Light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Black */
@font-face {
  font-family: 'LatoWebBlack';
  src: url('../fonts/Lato-Black.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Thin */
@font-face {
  font-family: 'LatoWebThin';
  src: url('../fonts/Lato-Thin.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */ url('../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */ url('../fonts/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "LatoWeb", verdana, Arial, sans-serif;
  font-size: 14px;
  background: transparent;
  color: #000;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
html {
 /* background: url("../images/GB-Project.jpg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,
h4,
h5 {
  margin-top: 5px;
  font-weight: 600;
}
a {
  cursor: pointer;
}
p {
  padding: 0.5em 0px 1em 0px;
  line-height: 150%;
  text-align: justify;
}
/*  general styles */
.clear {
  clear: both;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.float-full {
  float: left;
  width: 100%;
}
.font-bold {
  font-weight: 600;
}
.font-noraml {
  font-weight: 400;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn-default {
 /* background-color: #7e7e7e;
  border-color: #7e7e7e;
  color: #fff;*/
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px !important;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */
}
.shaded-separator {
  clear: both;
  float: left;
  height: 2px;
  margin: 8px 0px;
  width: 100%;
  background: #ddd;
  background: -webkit-linear-gradient(left, #ddd, white);
  background: -o-linear-gradient(right, #ddd, white);
  background: -moz-linear-gradient(right, #ddd, white);
  background: linear-gradient(to right, #ddd, white);
}
.clearfix {
  clear: both;
}
.relative {
  position: relative;
}
.justify-text {
  text-align: justify;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spacer10 {
  clear: both;
  height: 10px;
}
/*  general styles ended */
.footer {
  position: fixed;
  bottom: 0;
}
.gb-nav-cnt {
  text-align: center;
}
.gb-navigation {
  
}
.gb-navigation li {
  padding: 20px 10px;
  font-size: 23px;
}
.md-button {
  min-width: 175px;
}
.md-button.md-raised[disabled] {
  background-color: #a0a0a0;
  color: #fafafa;
}
@media (max-width: 768px) {
  .navbar-default .navbar-brand {
    display: block !important;
  }
  .gb-navigation {
    padding-left: 0%;
  }
  .sign-up {
    width: 100% !important;
  }
}
.sign-up {
  width: 40%;
  font-size: 16px;
}
